<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Cookies Chile</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Cookies Chile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/subirArchivoMarcaHoraria">Ingresar Marca Horaria</a>
                <a class="nav-link" href="/ingresarHoraExtra">Ingresar Justificativo Hora Extra</a>
                <a class="nav-link" href="/ingresarJustificativo">Ingresar Justificativo Inasistencia</a>
                <a class="nav-link" href="/listar">Obtener Planilla Empleados</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-sm">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Rut</th>
            <th>Nombre empleado</th>
            <th>Categoría</th>
            <th>Años de servicio empresa</th>
            <th>Sueldo fijo mensual </th>
            <th>Bonificación horas extras </th>
            <th>Bonificación tiempo de servicio</th>
            <th>Bonificación por puntualidad</th>
            <th>Descuentos por tardanzas en el ingreso</th>
            <th>Descuentos por retiros antes de la hora de salida</th>
            <th>Sueldo bruto</th>
            <th>Cotización previsional</th>
            <th>Cotizacion salud</th>
            <th>Monto sueldo final</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="personal:${personales}">
            <td th:text="${personal.rut}"></td>
            <td th:text="${personal.nombre_empleado}"></td>
            <td th:text="${personal.categoria}"></td>
            <td th:text="${personal.anos_servicio_empresa}"></td>
            <td th:text="${personal.sueldo_fijo_mensual}"></td>
            <td th:text="${personal.bonificacion_horas_extras}"></td>
            <td th:text="${personal.bonificacion_tiempo_servicio}"></td>
            <td th:text="${personal.bonificacion_puntualidad}"></td>
            <td th:text="${personal.descuento_tardanza}"></td>
            <td th:text="${personal.descuento_retiro}"></td>
            <td th:text="${personal.sueldo_bruto}"></td>
            <td th:text="${personal.cotizacion_previsional}"></td>
            <td th:text="${personal.cotizacion_plan_salud}"></td>
            <td th:text="${personal.monto_suelto_final}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>