<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Cookies Chile</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Cookies Chile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/subirArchivoMarcaHoraria">Ingresar Marca Horaria</a>
                <a class="nav-link" href="/ingresarHoraExtra">Ingresar Justificativo Hora Extra</a>
                <a class="nav-link" href="/ingresarJustificativo">Ingresar Justificativo Inasistencia</a>
                <a class="nav-link" href="/listar">Obtener Planilla Empleados</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-sm">
    <form th:action="@{/cargar}" method="post" enctype="multipart/form-data" class="row g-3">
        <div class="mb-3">
            <label for="formFile" class="form-label">Ingresar archivo con marca horaria</label>
            <input class="form-control" type="file" id="formFile" name="archivos" required>
        </div>
        <div class="col-auto">
            <button type="submit" value="cargar" class="btn btn-primary mb-3">Subir</button>
        </div>
    </form>
</div>

</body>
</html>