<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="container-sm">
    <form th:action="@{/cargar}" method="post" enctype="multipart/form-data" class="row g-3">
        <div class="mb-3">
            <label for="formFile" class="form-label">Ingresar archivo con marca horaria</label>
            <input class="form-control" type="file" id="formFile" name="archivos" required>
        </div>
        <div class="col-auto">
            <button type="submit" value="cargar" class="btn btn-primary mb-3">Subir</button>
        </div>
    </form>
</div>

</body>
</html>